body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.alert {
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 4em;
}

.navbar {
    width:100%;
    position:fixed;
    top: 0px;
    z-index: 1;
}

.intro-section {
    height: 100%;
    padding-top: 200px;
    text-align: center;
    background: url(../img/clay_fooseballer20.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.offices-section {
    height: 100%;
    padding-top: 45px;
    text-align: center;
    /*background: url(../img/Office_cubicle20.jpg) no-repeat center center scroll;*/
    background: url(../img/luxurious-cubicle-design20.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.games-section {
    height: 100%;
    padding-top: 45px;
    text-align: center;
    background: #eee;
    background: url(../img/foosballer2_bg20.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.radio {
    text-align: left;
    padding-bottom: 4px;
}

