
<section id="games" class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Games Section</h1>
                <% if active_games %>
	                <% active_games.each do |game|  %>
		                <% if (game.user.id == session[:id]) && game.visitor_id == 0 %>
		                    <p> You're waiting!</p>
		                    <a class="btn btn-primary btn-xs" href="/game/destroy/<%= game.id %>" role="button">Remove game</a>
	                  <% else %>
		                  <%= game.user.username %> is waiting! at <%= game.getOffice.name %>
		                <% end %>  
	                  <br>
	                <% end %>
                <% end %>
            </div>
        </div>
    </div>

</div>
