<!-- Guided Tour MODAL -->

<div class="modal fade" id="guidedTour" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Guided Tour</h4>
      </div>
      
      <div class="modal-body" align="left">
      <ol>
        1. Select an office to join (center drop down button).<br>
        <ul>If there aren't any offices, please create one first (top right dropdown menu)<br><br></ul>
        2. Click Play Foo! To start a game.<br><br>
        3. When your opponent joins your game you will recieve a notification.
      </ol>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>