<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/stylesheets/office_list_group.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  <script src="/javascript/bootstrap.js"></script>
  <script src="/javascript/game_list.js"></script>
  <script src="/javascript/jquery.easing.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Office Foos</title>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <%= yield %>
</body>
</html>