<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script src="/javascript/bootstrap.js"></script>

  <title>Office Foos</title>
</head>

<body>

<% if @user && @user.errors.any? %>
<!--TODO: DEBUG THIS -->
<!-- Display error messages -->
  <div class="alert alert-danger">
    <strong>Some issues with your user, please fix them:</strong>
    <ul>
      <% @user.errors.full_messages.each do |user| %>
      <li><%= user %></li>
      <% end %>
      <li><%= "Passwords do not match" unless @passwords_match %></li>
    </ul>
    <a href="/">Back!</a>
  </div>
<% end %>
  <%= yield %>
</body>
</html>
